#comets {
  position: absolute;
  top: -100px;
  width: 100vw;
  text-align: left;
  height: 100%;
  min-height: 900px;
  overflow: hidden;
}

#comets i {
  display: inline-block;
  width: 250px;
  height: 150px;
  position: absolute;
  border-radius: 5% 40% 70%;
  box-shadow: inset 0px 0px 1px #294b67;
  border: 1px solid #333;
  z-index: 1;
  background-color: #fff;
  opacity: 0.7;
  -webkit-animation: falling 10s 0s infinite;
  -webkit-animation-timing-function: ease-in;
}

/* group of comets */
#comets i:nth-child(1) {
  left: 50vw;
  height: 73px;
  width: 10px;
  background-color: #fff;
}
#comets i:nth-child(2) {
  height: 11px;
  width: 3px;
  -webkit-animation: falling3 8s 3s infinite;
  left: 10vw;
  background-color: #fff;
}
#comets i:nth-child(3) {
  -webkit-animation: falling2 5s 3s infinite;
  left: 30vw;
  height: 70px;
  width: 10px;
  background-color: rgb(228, 120, 19);
}

#comets i:nth-child(4) {
  -webkit-animation: falling2 3s 1s infinite;
  left: 31vw;
  height: 70px;
  width: 10px;
  background-color: rgb(228, 120, 19);
}
#comets i:nth-child(5) {
  -webkit-animation: falling2 4s 1s infinite;
  left: 42vw;
  height: 44px;
  width: 10px;
  background-color: #fff;
}
*/
/* group of comets */

#comets i:nth-child(6) {
  -webkit-animation: falling2 5s 2s infinite;
  left: 56vw;
  height: 20px;
  width: 10px;
  background-color: #fff;
}

#comets i:nth-child(7) {
  -webkit-animation: falling2 5s 2s infinite;
  left: 21vw;
  height: 22px;
  width: 4px;
  background-color: #fff;
}
*/ #comets i:nth-child(8) {
  -webkit-animation: falling2 5s 2s infinite;
  left: 25vw;
  height: 48px;
  width: 4px;
  background-color: #fff;
}

#comets i:nth-child(9) {
  -webkit-animation: falling2 5s 2s infinite;
  left: 73vw;
  height: 11px;
  width: 4px;
  background-color: #fff;
}

#comets i:nth-child(10) {
  -webkit-animation: falling2 5s 2s infinite;
  left: 8vw;
  height: 27px;
  width: 4px;
  background-color: #fff;
}
*/ @-webkit-keyframes falling {
  0% {
    -webkit-transform: translate3d(100px, 0px, 0px) rotate(160deg);
  }

  3% {
    -webkit-transform: translate3d(450px, 900px, 0) rotate(160deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate3d(450px, 900px, 0) rotate(160deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(150deg);
  }

  10% {
    -webkit-transform: translate3d(430px, 640px, 0) rotate(150deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(430px, 640px, 0) rotate(150deg);
    opacity: 0;
  }
}

@-webkit-keyframes falling2 {
  0% {
    -webkit-transform: translate3d(100px, 0, 0) rotate(130deg);
  }

  15% {
    -webkit-transform: translate3d(800px, 580px, 0) rotate(130deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(800px, 680px, 0) rotate(180deg);
    opacity: 0;
  }
}

.night {
  position: absolute; /* position: relative; */
  width: 100%;
  height: 100%;
  transform: rotateZ(40deg);
}
