*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./assets/bg.jpg);
    /* background-size */
    background-size: 200%;
    width: 1110px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
  }

.container {
    position: relative;
    /* z-index: 0; */
    text-align: center;
    color: white;
  }

.h{
    font-size:15.0rem;
    z-index:2;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    
}
.launchingplanet{
    position: relative;
    top: 50%;
    right:68%;
    transform: translate(-50%,-0%);
    z-index: 4;
}
.landingplanet{
    position:absolute; 
    top:0%;
    left:100%;   
    transform: translate(100%,-100%);
    z-index:14;  
}
#launchingplanet{
    animation:rotate 16s  infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}
#landingplanet{
    animation: rotate 30s infinite linear;
    transform-origin:center;
    transform-box: fill-box;
}

@keyframes rotate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }   
}
